@page
@model OnlineShop.Areas.Admin.Pages.DiplayProductsModel
@{
}


<table class="table table-striped table-dark table-bordered">
    <tr>
        <th>ProductName</th>
        <th>Color</th>
        <th>Size</th>
        <th>Amount</th>
        <th></th>
    </tr>

    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.ProductName</td>
            <td>@product.Color</td>
            <td>@product.Size</td>
            <td>@product.Amount</td>
            <td>
                <a class="btn btn-warning" asp-area="Admin" asp-page="/EditProduct" asp-route-id="@product.ProductId">
                    Edit
                </a> |
                <a class="btn btn-danger" asp-area="Admin" asp-page="/DeleteProduct" asp-route-id="@product.ProductId">
                    Delete
                </a>
            </td>
         
        </tr>
    }
</table>