@model IEnumerable<Order>

<br />
<br />
<br />
<br />
<br />



<table class="container order-list">
    <thead>
        <tr>
            <th><h1>@Html.DisplayNameFor(m => m.OrderId)</h1></th>
            <th><h1>@Html.DisplayNameFor(m => m.RegistrationDate)</h1></th>
            <th><h1>@Html.DisplayNameFor(m => m.DeliveryDate)</h1></th>
            <th><h1>Total Price</h1></th>
            <th><h1></h1></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.RegistrationDate</td>
                <td>@order.DeliveryDate</td>
                <td>@order.GetFinalPrice().FormatDecimal()</td>
                <td>
                    <a class="btn btn-primary" asp-area="Customers" asp-controller="Orders" asp-action="Details" asp-route-id="@order.OrderId">Details</a>
                </td>
            </tr>
        }

    </tbody>
</table>







<br />
<br />
<br />























